@model Airport.WebUI.Models.Country

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Удаление страны</h2>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <!----<h4>Country</h4>-->
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteAction", "Countries")) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
