@model Airport.WebUI.Areas.Administrator.Models.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Регистрация в системе ACS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-8">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Регистрация в системе ACS</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        Введите логин:
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        Введите пароль (6 и более символов, состоящий из цифр и букв латинского алфавита):
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        Подтвердите пароль:
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Регистрация" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Вход в систему", "Login") | <a href="~/">Вернуться на главную</a>
                    </p>
                }

            </div>
            <div class="col-md-4">
                <h4>Система ACS</h4>
                <hr />
                <p>
                    Регистрация в системе ACS для сотрудников аэропорта.
                </p>
                <p>
                    После регистрации Вам необходимо связаться с администратором системы дла активации аккаунта.
                </p>
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Система коммуникации ACS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")

</body>
</html>
