@model Airport.WebUI.Models.Airport

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
   <!---- <h4>Airport</h4>-->
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Страна
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>

        <dt>
            Город
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            Название аэропорта
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Международный код IATA
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteAction", "Airports"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку аэропортов", "Index")
        </div>
    }
</div>
